/*
Dynatrace Configuration API

Documentation of the Dynatrace Configuration API. To read about use-cases and examples, see [Dynatrace Documentation](https://dt-url.net/4u43kxw).  Notes about compatibility: * Operations marked as early adopter or preview may be changed in non-compatible ways, although we try to avoid this. * We may add new enum constants without incrementing the API version; thus, clients need to handle unknown enum constants gracefully.

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package configv1

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// RUMGeographicRegionsCustomClientIPHeadersAPIService RUMGeographicRegionsCustomClientIPHeadersAPI service
type RUMGeographicRegionsCustomClientIPHeadersAPIService service

type ApiGetGeolocationRegionsIpHeadersRequest struct {
	ctx context.Context
	ApiService *RUMGeographicRegionsCustomClientIPHeadersAPIService
}

func (r ApiGetGeolocationRegionsIpHeadersRequest) Execute() (*IpDetectionHeaders, *http.Response, error) {
	return r.ApiService.GetGeolocationRegionsIpHeadersExecute(r)
}

/*
GetGeolocationRegionsIpHeaders Gets the configuration of custom client IP headers

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetGeolocationRegionsIpHeadersRequest
*/
func (a *RUMGeographicRegionsCustomClientIPHeadersAPIService) GetGeolocationRegionsIpHeaders(ctx context.Context) ApiGetGeolocationRegionsIpHeadersRequest {
	return ApiGetGeolocationRegionsIpHeadersRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return IpDetectionHeaders
func (a *RUMGeographicRegionsCustomClientIPHeadersAPIService) GetGeolocationRegionsIpHeadersExecute(r ApiGetGeolocationRegionsIpHeadersRequest) (*IpDetectionHeaders, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IpDetectionHeaders
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RUMGeographicRegionsCustomClientIPHeadersAPIService.GetGeolocationRegionsIpHeaders")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/geographicRegions/ipDetectionHeaders"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json; charset=utf-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Api-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPutGeolocationRegionsIpHeadersRequest struct {
	ctx context.Context
	ApiService *RUMGeographicRegionsCustomClientIPHeadersAPIService
	ipDetectionHeaders *IpDetectionHeaders
}

// The JSON body of the request. Contains the configuration of the custom client IP headers.
func (r ApiPutGeolocationRegionsIpHeadersRequest) IpDetectionHeaders(ipDetectionHeaders IpDetectionHeaders) ApiPutGeolocationRegionsIpHeadersRequest {
	r.ipDetectionHeaders = &ipDetectionHeaders
	return r
}

func (r ApiPutGeolocationRegionsIpHeadersRequest) Execute() (*http.Response, error) {
	return r.ApiService.PutGeolocationRegionsIpHeadersExecute(r)
}

/*
PutGeolocationRegionsIpHeaders Updates the configuration of custom client IP headers

The request overwrites the existing configuration. Any headers not presented in the payload will be lost.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPutGeolocationRegionsIpHeadersRequest
*/
func (a *RUMGeographicRegionsCustomClientIPHeadersAPIService) PutGeolocationRegionsIpHeaders(ctx context.Context) ApiPutGeolocationRegionsIpHeadersRequest {
	return ApiPutGeolocationRegionsIpHeadersRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *RUMGeographicRegionsCustomClientIPHeadersAPIService) PutGeolocationRegionsIpHeadersExecute(r ApiPutGeolocationRegionsIpHeadersRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RUMGeographicRegionsCustomClientIPHeadersAPIService.PutGeolocationRegionsIpHeaders")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/geographicRegions/ipDetectionHeaders"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json; charset=utf-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json; charset=utf-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.ipDetectionHeaders
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Api-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiValidateGeolocationRegionsIpHeadersRequest struct {
	ctx context.Context
	ApiService *RUMGeographicRegionsCustomClientIPHeadersAPIService
	ipDetectionHeaders *IpDetectionHeaders
}

// The JSON body of the request. Contains the configuration of the custom client IP headers to be validated.
func (r ApiValidateGeolocationRegionsIpHeadersRequest) IpDetectionHeaders(ipDetectionHeaders IpDetectionHeaders) ApiValidateGeolocationRegionsIpHeadersRequest {
	r.ipDetectionHeaders = &ipDetectionHeaders
	return r
}

func (r ApiValidateGeolocationRegionsIpHeadersRequest) Execute() (*http.Response, error) {
	return r.ApiService.ValidateGeolocationRegionsIpHeadersExecute(r)
}

/*
ValidateGeolocationRegionsIpHeaders Validates the payload for the `PUT /geographicRegions/ipDetectionHeaders` request

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiValidateGeolocationRegionsIpHeadersRequest
*/
func (a *RUMGeographicRegionsCustomClientIPHeadersAPIService) ValidateGeolocationRegionsIpHeaders(ctx context.Context) ApiValidateGeolocationRegionsIpHeadersRequest {
	return ApiValidateGeolocationRegionsIpHeadersRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *RUMGeographicRegionsCustomClientIPHeadersAPIService) ValidateGeolocationRegionsIpHeadersExecute(r ApiValidateGeolocationRegionsIpHeadersRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RUMGeographicRegionsCustomClientIPHeadersAPIService.ValidateGeolocationRegionsIpHeaders")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/geographicRegions/ipDetectionHeaders/validator"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json; charset=utf-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json; charset=utf-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.ipDetectionHeaders
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Api-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
